@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html {
  font-family: 'Poppins', sans-serif;
}

#task_list {
  list-style: none;
  padding-left: 0;
}

#task_list li {
  font-size: 18px;
}

#task_list li + li {
  margin-top: 10px;
}